/* Configurações gerais da pagina */
@font-face {
    font-family: 'Open_sans';
    src: url(../assets/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}


*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open_sans';
    letter-spacing: 1px;
}

body{
    background-color: rgb(11, 7, 11);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/* Estilização do seção barra de navegação */

header {
    background-color: rgba(11, 7, 11, 0.705);
}

nav #logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1.5vh 0 0 2vh;
}

/* Fim da estilização do seção barra de navegação */

/* Estilização da seção main */

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

main .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, transparent,#212121);
    height: 90vh;
    width: 70vh;
    border-radius: 1vh;
    border: 0.5vh solid #871bc6;
    gap: 10vh;
}

#mobile-content{
    display: none;
}

main .container #login_form{
    width: 50%;
}

.container input{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    padding: 1vh;
    width: 100%;
    border: none;
    background-color: transparent;
    font-weight: 600;
    border-bottom: 1px solid #871bc6;
    outline: none;
    transition: all 400ms;
    margin-top: 3vh;
    color: white;
}

.container .logo_login{
    margin-bottom: -10vh;
}

.container input:hover{
    border: none;
    box-shadow: 0 0 10px  #871bc6, 0 0 11px #871bc6;
    border-radius: 0.5vh;
}

.container input:active{
    scale: 1.05;
}

input::placeholder{
    font-weight: bold;
}

.container #dire_cadastro{
    color: #f5f5f5;
    size: 10vh;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    width: 45%;
    padding: 2vh;
    border: none;
    border-radius: 0.5vh;
    background-color: #871bc6;
    transition: all 700ms;
}

.button:hover{
    box-shadow: 0 0 10px  #871bc6, 0 0 10px #871bc6;
    scale: 1.1;
}

.button:active{
    scale: 1.2;
}

#button_avancar{
    display: none;
}

@media only screen and (max-width: 600px){


    .container input{
        height: 100%;
        margin-top: 15%;
        width: 100%;
    }

    main .container{
        height: 80vh;
        width: 70vw;
    }

    #ipt_senha{
        display: none;
    }

    #ipt_email{
        display: flex;
    }

    #button_avancar{
        display: flex;
    }

    #button_login{
        display: none;
    }

    #dire_cadastro{
        font-size: 0.7em;
    }


}

/* Fim :) */